---
# yaml-language-server: $schema=https://json.schemastore.org/pre-commit-config
fail_fast: false

repos:
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.2
    hooks:
      - id: markdownlint-cli2
        args:
          - --config
          - .ci/markdownlint/.markdownlint.yaml

  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.88.24
    hooks:
      - id: trufflehog

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-spaces
      - id: alphabetize-codeowners
      - id: fix-ligatures
      - id: fix-smartquotes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: fix-byte-order-marker
        stages:
          - pre-commit
      - id: end-of-file-fixer
        stages:
          - pre-commit
      - id: trailing-whitespace
        stages:
          - pre-commit
      - id: mixed-line-ending
        stages:
          - pre-commit
      - id: check-executables-have-shebangs
        stages:
          - pre-commit
      - id: check-added-large-files
        args:
          - "--maxkb=4096"
      - id: check-json
        stages:
          - pre-commit
      - id: check-merge-conflict
        stages:
          - pre-commit
      - id: check-case-conflict
        stages:
          - pre-commit
      - id: detect-private-key
        stages:
          - pre-commit

  - repo: https://github.com/google/yamlfmt
    rev: v0.16.0
    hooks:
      - id: yamlfmt
        language: system
        args:
          - --conf
          - .ci/yamlfmt/.yamlfmt

  - repo: https://github.com/google/go-jsonnet
    rev: v0.20.0
    hooks:
      - id: jsonnet-format
      - id: jsonnet-lint

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-crlf
      - id: remove-tabs
        exclude: '\.go$'

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shellcheck
        language: script
        args:
          - --severity=error
        additional_dependencies: []

  - repo: https://github.com/cisagov/pre-commit-shfmt
    rev: v0.0.2
    hooks:
      - id: shfmt
        args:
          - -w
          - -s

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.4.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages:
          - post-commit
          - pre-push
